* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
  }
  body {
    padding: 0 10px;
  }
  .container {
    display: flex;
    gap: 10px;
    /* background-color: aquamarine; */
    border: 1px solid black;
    height: fit-content;
    padding: 10px;
  }
  
  .left-side {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 10px;
  }
  
  .left-side .barang {
    /* background-color: yellow; */
    display: flex;
    padding: 0 20px;
    align-items: center;
    height: fit-content;
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
  }
  .left-side .information {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .deskripsi {
    /* background-color: skyblue; */
    height: fit-content;
  }
  
  .tombol {
    border: 1px solid black;
    display: flex;
    height: fit-content;
    /* background-color: greenyellow; */
    gap: 50px;
    align-items: center;
  }
  .tombol button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .tombol input {
    height: 100%;
    width: 50px;
    /* background-color: red; */
  }
  
  .harga {
    /* background-color: salmon; */
    height: fit-content;
  }
  
  .right-side {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    flex: 1;
  }
  
  .right-side form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .right-side input {
    padding: 5px 10px;
    background-color: rgb(185, 184, 184);
  }
  .right-side button {
    padding: 5px 10px;
    cursor: pointer;
  }
  .reset {
    background-color: red;
  }
  
  .apply {
    background-color: greenyellow;
  }
  
  .flex {
    /* background-color: skyblue; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  
  .flex p {
    padding: 5px;
  }
  
  /* media query berefek ketika layar mengecil (900 piksel) */
  @media screen and (max-width: 900px) {
    .container {
      flex-direction: column;
    }
  
    .barang {
      flex-direction: column;
    }
  
    .information {
      margin-bottom: 20px;
    }
  }